<!DOCTYPE html>
<html ng-app="shoppingListApp">
  <head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <meta charset="utf-8">
    <title>Filtered ng-repeat</title>
  </head>
  <body>
    <h1>Filtered ng-repeat</h1>
    <div ng-controller="shoppingListController">
      <h3>Shopping List:</h3>
      <input type="text" ng-model="search">
      <ul>
        <li ng-repeat="item in shoppingList | filter : search">{{item}}</li>
      </ul>
    </div>
  </body>
</html>
